body{width:100%;
	max-width:640px;
	margin:0 auto;
	background:#fff;
	min-width:320px;}

ul,ol,li{list-style-type:none;}
a{color:#383838; outline:none; text-decoration:none;}
a:hover{text-decoration:none;}
.fl{float:left;}
.fr{float:right;}

.main{width:100%;max-width:640px;  margin-top:10%; padding:0;}
.banner{ margin:0}
.banner img{width:100%;max-width:640px;margin:0 auto;}

.menu {width:100%;max-width:640px; margin-top:10%;}

.nav-tabs{height:auto; overflow:hidden; border:none;}
.nav-tabs ul{ padding:0; margin:0; list-style:none;}
.nav-tabs ul li{float:left; background:white; margin-top:30px; width:25%; text-align:center;}
.nav-tabs ul li a{ text-decoration:none;  border:none;  outline:none; }
.nav-tabs ul li a span.iconfont {
    font-size:3.5em;
    color:#7C8085;
    padding:0 0.9em;
	text-decoration:none;
	-webkit-transition:.5s all;
	-moz-transition:.5s all; 
	transition:.5s all; 
}


.nav-tabs ul li a h5 {font-size: 1.3em;color: #7C8085; margin-top:0.5em; text-align:center; white-space:nowrap;}
.nav-tabs > ul li.active >a h5 {color: #34C3A2;  border:none;}
.nav-tabs > ul li.active a span.iconfont { color:#34C3A2; }

.colse{text-align: center; margin-top:90px;}
.colse a{font-size:3.5em; text-decoration:none; color:#737373}
@media(min-width:320px) and (max-width:479px){
	  .nav-tabs ul li a h5 {font-size:0.8em; text-align:center;}
		.nav-tabs ul li a span.iconfont{font-size:2.1em;}
		.nav-tabs ul li{ text-align:center;}
	}



