.row{margin-left: 0!important;margin-right: 0!important;}
.c-changelist>li{
	border-radius:5px;
	background: #2e3238;
	margin-bottom: 2px;
}
.c-changelist>li>div{
	padding: 9px 20px 9px 38px;
}
.c-checkbox{
	position: absolute;
	top: 30px;
	left: 10px;
}
.tishi-tip{
	position: absolute;
	top: -23px;
	left: -42px;
	padding: 3px;	
	box-shadow:  0 0 8px rgba(0, 0, 0, 0.18), 0 8px 16px rgba(0, 0, 0, 0.36);
	color: #fff
	white-space: nowrap;
	font-size: 12px;
	font-weight: 600;
	height: 18px;
	line-height: 13px;
	z-index: 10	;
	background: #fff;
	text-align: center;
	border-radius: 8px;
	display: none;
}
.tishi-tip:before{
	content:"";
	position: absolute;
	left: 31px;
    bottom: -16px;
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 4px solid transparent;
	border-top: 16px solid #fff;

}
.c-informright .c-salemall{
	width: 112px;
	height: 34px;
	border-radius: 8px;
	color: #31c3a2;
	border: 1px solid #31c3a2;
	background: none;
	padding: 0;
}
.c-informright .c-changelist .c-saleon{
	position: absolute;
	right: -10px;
	top: 30px;
	width: 112px;
	height: 38px;
	border-radius: 8px;
	color: #31c3a2;
	border: 1px solid #31c3a2;
	background: none;
	padding: 0;
}
.c-changelist>li>div span{
	color: #fff;
}
.c-changelist>li>div>p:nth-child(2){
	color: #d29b19;
}
.c-changelist>li>div>p:nth-child(2)>span{
	margin-right: 5px;
	margin-top: 2px;
}
.c-changelist>li>div:nth-child(3)>p>a{
		white-space: nowrap;
		color: #31c3a2;
	}
.c-changelist>li>div>a{
	display: block;
	position: relative;
	height: 86px;
	width: 128px;
}
.c-changelist>li>div>a>img{
	width: 100%;
	position: absolute;
}

.c-changelist li{padding-bottom: 30px;}
.c-changelist>li>div>span{
	margin-top: 10px;
}
.c-changelist .btn{
	padding: 0;
	width: 112px;
	height: 38px;
	margin-top: 22px;
	border: none;
	border-radius: 8px;
	outline: none;
}
.c_sand{
	position: relative;
}
.bounced{
	position: absolute;
	top: 40px;
	right: 153px;
	background: #606060;
	border-radius: 8px;
	display: none;
	z-index: 1;
}
.bounced:after{
	content:"";
	position: absolute;
	right: -9px;
	top: 28px;
	width: 0;
	height: 0;
	border-top: 9px solid transparent;
	border-bottom: 9px solid transparent;
	border-left: 9px solid #606060;
}
.bounced>p{
	padding: 5px;
	white-space: nowrap;
}
.bounced>p>b{
	color: #31c3a2;
}
.bounced>p>a{
	text-decoration: underline;
	overflow: hidden;
}
.pull-cdownlist{
	 width: 130px; 
	 margin: 0 0 0 7px; 
	 padding: 0; 
	 display: inline-block;
	 color: #607d8b;
	 vertical-align: middle;
}
.pull-cdownlist select{
	color: #607d8b;
}
.pull-cdownlist select option{
	text-align: center;
	background: #2e3238;
}
.dropdownjs > ul{
	padding: 0;
	background: #2e3238;
	min-width: 130px;
}
.dropdownjs > ul > li.selected,
.dropdownjs > ul > li:active {
  background-color: #40464e;
}
.dropdownjs > ul > li:focus{
	outline: none;
}
.dropdownjs > ul[placement=bottom-left]{
	top: 38px;
	max-height: 752px;
	text-align: center;
}
.dropdownjs > ul > li.selected{
	color: #607d8b;
	background: #40464e;
}
.form-control{
	color: #607d8b; 
}
.cdkey{
	border: none;
	margin-top: 16px;
}
.cdkey thead tr{
	background: #363e44;
	color: #fff;
	height: 54px;
	line-height: 54px;
}
.cdkey .table>thead>tr>th,.cdkey .table>tbody>tr>td{
	padding: 16px;
}
.cdkey thead th{
	font-weight: 400;
}
.cdkey tbody{
	color: #afb0b2;
}
.cdkey tbody tr {
	height: 52px;
	line-height: 52px;
	border-bottom: 1px solid #40494c;
}
.cdkey tbody tr:last-child{
	border-bottom: none;
}
.cdkey tbody tr td:last-child span{
	display: inline-block;
	width: 300px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.cdkey tbody tr i{
	margin-left: 4px;
}
.cdkey tbody tr:hover td:first-child i{
	color: #31c3a2;
}
.exhide{
	display: none;
}
.exshow{
	display: block;
}
.exrecord{
	float: left;
	margin-right: 30px;
	color: #ffffff;
}
.activecolor{
	color: #31c3a2;
	text-decoration: underline;
}