.c-bg{background: url("../images/wjmmbg_x.png") no-repeat center;}
.login-main{float: left;margin-left: 300px;width: 600px;padding-right: 0;}
.login-main-title{text-align: center;}
.login-main-tab-border{width: 600px;height: 3px;position:absolute;background-color: #2e3238;margin-top: 51px;}
.login-main-tab{width: 100%;height: 65px;overflow: hidden;position: relative;padding: 0 30px;margin: 50px 0;}
.login-main-tab li{height: 65px;line-height: 65px;position: relative;z-index: 1;font-size: 18px;color: #727272;padding:0 10px;}
.login-main-tab li{}
.login-main-tab .checked{border-top: 5px solid #31C3A2;color: #Fff;}
.login-main-time{color: #fff;text-align: center;}
.login-main-time span{color: #31C3A2;}
.btn-xa{width: 120px;height: 37px;border-radius: 8px;margin-left: 240px;}