.c-bg{position: fixed;top: 0;left:0;width: 100%;background: url("../images/zhuchebg_x.png") no-repeat center;min-height: 1100px;}
.has-error-x.is-focused .form-control{
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f44336), to(#f44336)), -webkit-gradient(linear, left top, left bottom, from(#D2D2D2), to(#D2D2D2))!important;
    background-image: -webkit-linear-gradient(#f44336, #f44336), -webkit-linear-gradient(#D2D2D2, #D2D2D2)!important;
    background-image: -o-linear-gradient(#f44336, #f44336), -o-linear-gradient(#D2D2D2, #D2D2D2)!important;
    background-image: linear-gradient(#f44336, #f44336), linear-gradient(#D2D2D2, #D2D2D2)!important;
}
.has-error-x .control-label{color:#f44336!important;}
.has-error-x.is-focused .help-block{color:#f44336!important;display:block;}
.login-main{width: 570px;padding-right: 12px;float: right;margin-top: 140px;}
.login-main-title{font-size: 30px;color: #fff;font-weight: bold;}
.form-group .text_input{text-align: left!important;font-weight: 100;}
.login-main-bottom{position: relative;}
.login-main-bottom a{color: #31C3A2;}
.login-main-bottom p span{color: #d4d4d4;}
.login-main-bottom button{position: absolute;right: 0;top: 5px;height: 37px;width: 100px;border-radius: 8px;margin: 0;}
.t-underline{text-decoration: underline!important;}
.checkbox .checkbox-material .check{border: 2px solid #607d8b;margin-right:5px;}
.form-group.is-focused .checkbox label:hover{color:#607d8b;}
.btn:disabled,.btn[disabled][disabled]{background-color: #31c3a2;color: #ffffff;}
.btn[disabled]{opacity: .5;}